<% content_for :middle do %>
  <% entry_id = request.env['PATH_INFO'].split("/").last %>
  <div id="note-button">Leave a Note</div>
  <div id="star-space">
  	<% 4.times do |i| %>
  		<div class="star-wrapper<%= " voted" if @voted_value == 4 - i %>"><%= link_to "<div class=\"star\"></div>".html_safe, vote_path(:value => 4 - i, :entry_id => entry_id), :method => "put" %></div>
  	<% end %>
  </div>
<% end %>

<iframe src="<%= @entry.demo_url %>" id="demo-frame"></iframe>