<div id="about-header" style="text-align:center; margin-top:25px; margin-bottom:35px;">
	<h1>Welcome to The Challenge</h1>
	<h2>Online hackathon for everyone, everywhere.</h2>
</div>

<div id="profile-header">
<h3>What is The Challenge?</h3><p>The Challenge is an online competition for hackers of all sorts. Whether you're a hardware hacker, a kickass javascript dev, or a Ruby Rockstar. We feature a new challenge every week, each with a theme that inspires creativity. After the weekly submission period ends, participants are asked to vote on eachothers projects. The creators of winning projects are then awarded with various prizes.</p>
</div>
<ul>
	<li><h3>Why is The Challenge necessary?</h3><p>Hackathons as we know them usually take place only in larger cities, are hosted in cramped office spaces, and are sometimes costly to enter. The Challenge solves these problems by allowing you to partake in a coding competition from anywhere in the world. That doesn't mean you need to <a href="http://hackalone.org" target="_blank">hack alone</a>! Using services such as IM, IRC, and <a href="http://github.com" target="_blank">Github</a>, it's easier than ever before to collaborate and work in a team. The Challenge empowers hackers by encouraging them to experiment and tinker with new technologies, collectively working to solve problems while advancing their own skills.</p></li>
	<li><h3>What do I need to enter?</h3><p>Entering The Challenge is easy. We don't require that you have mad programming skills, or that you rip your credit card out and start throwing money at us. All you need is a free <a href="http://github.com" target="_blank">Github</a> account to get started. Github is the industry standard for managing open source projects. The Challenge uses it to store your entries, and make submitting your projects as easy as possible.</p></li>
	<li><h3>What are the rules?</h3><p>Like all good hackahtons, The Challenge has a few rules that we would like you to know about. You should <%= link_to 'read about them here', rules_path %>. It'll only take a minute, we promise.</p></li>
</ul>