<h1>Rules</h1>
<p>The Challenge has a few rules too keep things fair.</p>

<ul>
	<li><h3>Projects must have been started after the challenge begun</h3><p>If we see that you started coding your project after the challenge begun, we will disqualify you for that week.</p></li>
	<li><h3>Another Rule Here</h3><p>explination.</p></li>

</ul>

<hr>
<p>Multiple rule violations may result in your account being banned from the site. We also reserve the right to ban or disqualify you for any reason we see fit. We hate to do this, but since we're giving away prizes we must enforce the rules.