<header id="about">
	<h1>Welcome to OpenHacker</h1>
	<h2>A weekly competition for problem solvers.</h2>
</header>

<div id="call-to-action">
  <%= link_to submit_path do %>
    <button>Sign in with GitHub</button>
  <% end %>
</div>

<header>
  <h3>Why?</h3>
  <p>To make solving the world's problems fun and organized.</p>
</header>

<ul>
  <li>
    <h3>How does it work?</h3>
    <p>Every week a community-decided "challenge" is presented to the members of OpenHacker.</p>
    <p>Hackers are given a week to create a web page that they think best addresses the problem. At the end of the week, the challenge moves into "voting," where members vote on each others solutions.</p>
    <p>After a week of voting, the top three highest voted challenge entries are awarded a spot on the site's homepage and a prize.</p>
  </li><br>
	<li>
	  <h3>I can't write code, can I still participate?</h3>
	  <p>Of course!</p>
	  <p>Challenge entries can be anything: videos, documents, paintings, music, etc.</p>
	  <p>The only requirement is that it's accessible somewhere on the web.</p>
  </li><br>
	<li>
	  <h3>Can I help the open hacking movement?</h3>
	  <p>The entire website is OpenSource. If you know Ruby, you can help make OpenHacker better right now.</p>
	  <p><a href="https://github.com/jacksonGariety/OpenHacker" target="_blank">Contribute on GitHub.</a></p>
  </li>
</ul>