<header id="about">
	<h1>Welcome to OpenHacker</h1>
	<h2>A weekly competition for hackers.</h2>
</header>

<header>
  <h3>Why?</h3>
  <p>OpenHacker is a weekly, online competition for hackers of all sorts. Whether you're a hardware hacker, a kickass javascript dev, or a Ruby Rockstar. We feature a new challenge every week, each with a theme that inspires creativity. After the weekly submission period ends, participants are asked to vote on eachothers projects. The creators of winning projects are then awarded with various prizes.</p>
</header>

<ul>
	<li><h3>Where did it come from?</h3><span>Hackathons as we know them usually take place only in larger cities, are hosted in cramped office spaces, and are sometimes costly to enter. The Challenge solves these problems by allowing you to partake in a coding competition from anywhere in the world. That doesn't mean you need to <a href="http://hackalone.org" target="_blank">hack alone</a>! Using services such as IM, IRC, and <a href="http://github.com" target="_blank">Github</a>, it's easier than ever before to collaborate and work in a team. The Challenge empowers hackers by encouraging them to experiment and tinker with new technologies, collectively working to solve problems while advancing their own skills.</span></li><br>
	<li><h3>I'm not a hacker, can I still participate?</h3><span>Entering The Challenge is easy. We don't require that you have mad programming skills, or that you rip your credit card out and start throwing money at us. All you need is a free <a href="http://github.com" target="_blank">Github</a> account to get started. Github is the industry standard for managing open source projects. The Challenge uses it to store your entries, and make submitting your projects as easy as possible.</span></li><br>
	<li><h3>What are the rules?</h3><span>Like all good hackahtons, OpenHacker has a few rules that we would like you to know about. You should <%= link_to 'read about them here', rules_path %>. It'll only take a minute, we promise.</span></li><br>
</ul>