<div style="text-align: center;">
  <h4>This project's development is on a short hiatus.</h4>
  
  <p>If you have any questions or feedback about OpenHacker, please email me:</p>
  
  <script>document.write("<a href=\"mailto:personal" + "@" + "jacksongariety.com?subject=OpenHacker+Inquiry\">personal" + "@" + "jacksongariety.com</a>")</script>
</div>