<header>
  <h1>Challenge Archives</h1>
  <p>A list of ended challenges in chronological order.</p>
</header>

<ul>
  <% @challenges.each do |challenge| %>
    <li>
      <b><%= challenge.description %></b><%= render "mod", :challenge => challenge %><br>
      <span>Ended <%= time_ago_in_words(challenge.opened_at + 1.week) %> ago by <%= link_to challenge.user.full_name, challenge.user %></span>
    </li><br>
  <% end %>
</ul>