<div id="profile-header">
  <h1>Rules</h1>
  <p>To keep things fair...</p>
</div>

<ul>
    <li>Entries may not be developed before the challenge begins</li>
    <li>Entries may not be modified after they have gone into the voting phase</li>
    <li>Entry demo pages may not use <a href="http://en.wikipedia.org/wiki/Framekiller" target="_blank">frame-busting JavaScript</a></li>
</ul>

<p>Multiple rule violations may result in your account being banned from the site. We also reserve the right to ban or disqualify you for any reason we see fit. We hate to do this, but since we're giving away prizes we must enforce the rules.</p>