<header>
  <h1>Challenge Rules</h1>
</header>

<ul>
    <li>Entries may not be used for commercial purposes until voting has ended</li>
    <li>Entries may not be modified after they have gone into the voting phase</li>
    <li>Entries may not use any <a href="http://en.wikipedia.org/wiki/Framekiller" target="_blank">framekilling</a> technique on their demo pages</li>
    <!-- <li>Entry demo pages may not use <a href="http://en.wikipedia.org/wiki/HTTP_Secure" target="_blank">HTTPS</a></li> -->
</ul>

<p>Multiple rule violations may result in your account being banned from the site.</p>