<h1>Rules</h1>

<span>The Challenge has a few rules too keep things fair.</span>

<ul>
    <li>
        <h3>Entries must not have been in development before the challenge has begun</h3>
    </li>
    <li>
        <h3>Entries must not be modified after they have gone into the voting phase.</h3>
    </li>
    <li>
        <h3>Entries' demo pages must not use <a href="http://en.wikipedia.org/wiki/Framekiller">frame-busting JavaScript</a></h3>
    </li>
    <br>
</ul>
<hr>
<span>Multiple rule violations may result in your account being banned from the site. We also reserve the right to ban or disqualify you for any reason we see fit. We hate to do this, but since we're giving away prizes we must enforce the rules.