<header>
  <h1>Rules</h1>
  <p>To keep things fair...</p>
</header>

<ul>
    <li>Entries may not be used for commercial purposes until voting has ended</li>
    <li>Entries may not be modified after they have gone into the voting phase</li>
    <li>Entry demo pages may be <a href="http://en.wikipedia.org/wiki/Framekiller" target="_blank">framekilling</a> in any way</li>
    <li>Each person is only allowed one account, no matter how many GitHub accounts they may have</li>
    <!-- <li>Entry demo pages may not use <a href="http://en.wikipedia.org/wiki/HTTP_Secure" target="_blank">HTTPS</a></li> -->
</ul>

<p>Multiple rule violations may result in your account being banned from the site. We also reserve the right to ban or disqualify you for any reason we see fit. We hate to do this, but since we're giving away prizes we must enforce the rules.</p>