<h1><%= @challenge.title %></h1>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Suggested by:</b>
  <%= link_to User.find(@challenge.submitting_user_id).full_name, User.find(@challenge.submitting_user_id) %>
</p>