/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require typography
 */

/* Selection */

::selection {
  background: #FF7400;
  color: #FFF;
}

::-moz-selection {
  background: #FF7400;
  color: #FFF;
}

/* Layout */

html { height: 100%; }

body {
  background-color: #f8f6f3;
  margin: 0;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

nav, section, footer {
  max-width: 900px;
}

section {
  padding: 0;
  width: 100%;
  background: #FFF;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  max-width: 898px;
  margin: 0 auto;
  min-height: 100%;
  margin-top: -60px;
}

nav .inner, section .inner, footer{
  padding: 20px;
  margin: 0 auto;
}

section .inner {
  overflow: auto;
	padding-top: 70px;
	padding-bottom: 50px;
}

footer {
  position: relative;
	margin-top: -51px;
	height: 49px;
	clear: both;
	padding: 0;
  color: #999;
  line-height: 50px;
  font-family: "ITC Franklin Condensed";
  font-size: 1.4em;
  border-top: 1px solid #DDD;
}

footer .inner {
	padding-left: 20px;
  padding-right: 20px;
}

footer .inner span {
  margin-left: 5px;
}

/* nav */

nav {
  color: #FFF;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 100%;
  font-family: "ITC Franklin Condensed";
  overflow: hidden;
  padding-bottom: 10px;
  z-index: 1;
}

nav .inner {
  height: 50px;
  padding: 0;
  position: relative;
  background-color: #FF7400;
  -webkit-box-shadow: 0 1px 5px rgba(20,20,20,.2);
     -moz-box-shadow: 0 1px 5px rgba(20,20,20,.2);
          box-shadow: 0 1px 5px rgba(20,20,20,.2);
}

nav .inner .left {
  position: absolute;
  height: 50px;
  width: 159px;
  left: 0;
  top: 0;
  padding-left: 20px;
  border-left: 1px solid #FF9640;
}

nav .inner h2 {
  margin: 0;
  font-size: 36px;
  width: 300px;
  height: 50px;
  font-weight: 100;
  line-height: 50px;
  display: inline-block;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

nav .inner .left:hover h2 {
  text-shadow: 0 0 5px rgba(255,255,255,.5);
}

nav .inner .left:active h2 {
  top: 2px;
}

nav .inner .right, nav .inner .left {
  font-size: 0;
  height: 50px;
}

nav .inner .right div {
  font-size: 22px;
  border-left: 1px solid #FF9640;
  border-right: 1px solid #FF9640;
  margin-right: -1px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

nav .inner .right a:last-child div {
  margin-right: 0;
}

nav .inner .right a:hover div {
  background-color: #FFF;
  color: #FF7400;
  border-color: transparent;
}

nav .inner .right a:hover + a div {
  border-left-color: transparent;
}

nav .inner .right a:last-child:hover div, nav .inner .right a:last-child:active div {
  border-right-color: #DDD;
}

nav .inner .right a:active div {
  background-color: #FFF;
  color: #666;
  border-color: transparent;
}

nav .inner .right a:active + a div {
  border-left-color: transparent;
}

#star-space {
	display: none;
}

/* Footer */

footer {
	text-align: right;
}

/* Generic Elements */

select {
  font-size: 1em;
}

.clearfix {
  clear: both;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}

hr {
  border: none;
  height: 1px;
  background: #CCC;
  margin-bottom: 30px;
  margin-top: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

ul, ol {
  padding-left: 20px;
}

/* Copy Text */

h1 + p, p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

/* Headers */

h1, h2, h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: 3.25em;
  font-weight: 100;
  font-weight: 900;
}

h1 + p, h1 + span, h1 + a, h1 + h2 {
  margin-top: 15px;
}

/* Anchors */

nav a:link, nav a, nav a div, nav a h2 {
  color: #FFF;
  text-decoration: none;
}

a:link, a {
  color: #666;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a:link:after, a:after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top: 1px dashed #666;
}

a:hover {
  color: #FF7400;
}

a:hover:after {
  border-color: #FF7400;
}

a:active {
  color: #333;
}

a:active:after {
  border-color: #333;
}

nav a:after {
  display: none;
}

footer a:after {
  bottom: 14px !important;
}

/* About */

#about-header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* Profiles */

#default {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #555;
  -moz-background-size: 150px 150px;
    -o-background-size: 150px 150px;
       background-size: 150px 150px;
  -webkit-border-radius: 180px;
  	 -moz-border-radius: 180px;
  		    border-radius: 180px;
}

#profile-header {
	border: 1px dashed #DDD;
	padding: 20px;
	margin-bottom: 20px;
}

.bio {
  margin: 0;
}

/* Submission Page */

.step {
  margin-bottom: 30px;
  opacity: .25;
  pointer-events: none;
}

.step.focused {
  opacity: 1;
  pointer-events: all;
}

#check {
  list-style: none;
}

#check .mark {
  margin-right: 10px;
  font-weight: 900;
  font-size: 1.5em;
  color: green;
  opacity: 0;
  -webkit-transition: -webkit-transform .2s;
     -moz-transition: -moz-transform .2s;
      -ms-transition: -ms-transform .2s;
       -o-transition: -o-transform .2s;
          transition: transform .2s;
  -webkit-transition-timing-function: cubic-bezier(0.090, 0.220, 0.225, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.090, 0.220, 0.225, 1.650);
     -moz-transition-timing-function: cubic-bezier(0.090, 0.220, 0.225, 1.650);
      -ms-transition-timing-function: cubic-bezier(0.090, 0.220, 0.225, 1.650);
       -o-transition-timing-function: cubic-bezier(0.090, 0.220, 0.225, 1.650);
          transition-timing-function: cubic-bezier(0.090, 0.220, 0.225, 1.650);
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  display: inline-block;
}

#check .mark.red {
  font-weight: 100;
  margin-right: 11px;
}

#check .mark.done {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

#collaborators_list {
  padding-left: 70px;
}

#preview {
  margin-top: 20px;
  width: 450px;
  border: 1px solid #DDD;
  display: inline-block;
  padding: 20px;
  font-size: .75em;
}

#preview h3 {
  display: inline;
  font-size: 1.5em;
}

#preview .image-wrap {
  min-width: 200px;
  min-height: 125px;
  margin-right: 20px;
  margin-bottom: 5px;
  border: 1px solid #DDD;
  display: inline-block;
  float: left;
}

#preview img {
  width: 200px;
  height: 125px;
  vertical-align: top;
}

#repos select {
  outline: none;
}

/* Homepage */

section .inner.home {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  max-width: 900px;
}

.section-header {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  margin-top: -1px;
  font-size: 1em;
}

.tile {
  border-bottom: 1px solid #DDD;
  width: 50%;
  float: left;
  border-left: 1px solid #DDD;
  margin-left: -2px;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

.home a {
  display: block;
}

.home a:after {
  display: none;
}

.tile.blue {
  width: 100%;
  min-height: 400px;
  left: auto;
  padding-right: 1px;
}

.tile.yellow {
  left: 2px;
}

.tile .inner {
  padding: 20px;
  padding-top: 10px;
}

.tile h1, h1.little {
  font-size: 2.5em;
}

.tile a:link, .tile a, .tile h1, .tile, p {
  color: #444;
}

.tile:hover h1, .tile:hover p {
  color: #888;
}

.tile:active h1, .tile:active p {
  color: #111;
}

.tile:active .frame {
  opacity: 1 !important;
}

.home a .tile.blue h1 {
  width: 350px;
  font-size: 3.5em;
}

.home a .tile.blue p {
  width: 350px;
}

.home a .iphone p {
  width: 195px;
}

.tile .frame {
  position: absolute;
  right: 0;
  bottom: -20px;
  -webkit-transition: bottom .4s;
     -moz-transition: bottom .4s;
      -ms-transition: bottom .4s;
       -o-transition: bottom .4s;
          transition: bottom .4s;
-webkit-transition-timing-function: cubic-bezier(0.095, 0.940, 0.100, 0.945);
   -moz-transition-timing-function: cubic-bezier(0.095, 0.940, 0.100, 0.945);
    -ms-transition-timing-function: cubic-bezier(0.095, 0.940, 0.100, 0.945);
     -o-transition-timing-function: cubic-bezier(0.095, 0.940, 0.100, 0.945);
        transition-timing-function: cubic-bezier(0.095, 0.940, 0.100, 0.945);
}

.tile.web .frame {
  width: 350px;
  height: 225px;
  background-image: url('/assets/frame_web@2x.png');
  -moz-background-size: 600px auto;
    -o-background-size: 600px auto;
       background-size: 600px auto;
}

.tile.iphone .frame {
  width: 261px;
  height: 410px;
  background-image: url('/assets/frame_iphone@2x.png');
  -moz-background-size: 325px auto;
    -o-background-size: 325px auto;
       background-size: 325px auto;
}

.home a .tile.blue .frame {
  width: 540px;
  height: 395px;
}

.tile:hover .frame {
  bottom: 0;
  opacity: .8;
}

.frame-inner {
  position: absolute;
  bottom: 0;
  right: 0;
}

.web .frame-inner {
  width: 292px;
  height: 137px;
  -moz-background-size: 600px auto;
    -o-background-size: 600px auto;
       background-size: 600px auto;
}

.home a .tile.blue.web .frame-inner {
  width: 482px;
  height: 307px;
}

.iphone .frame-inner {
  width: 172px;
  height: 217px;
}

.home a .iphone .frame-inner {
  -moz-background-size: 250px auto;
    -o-background-size: 250px auto;
       background-size: 250px auto;
}

/* Top page */

.item {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width: 100%;
	text-decoration: none;
	margin-left: -20px;
	padding-right: 40px;
	padding-top: 20px;
	margin-top: -1px;
}

.item:after {
  display: none;
}

.top-frame-inner {
  position: absolute;
  bottom: 0;
  right: 0;
}

.item .top-frame {
  border-right: 1px solid #DDD;
  margin-right: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
  background-position: 0 10px;
  width: 350px;
  height: 250px;
  float: left;
  background-repeat: no-repeat;
  background-image: url('/assets/frame_web@2x.png');
  -moz-background-size: 600px auto;
    -o-background-size: 600px auto;
       background-size: 600px auto;
}

@media only screen and (max-width: 900px) {
  section, .inner, nav .inner .left, nav a:last-child div {
    border: none !important;
  }
}