@import 'variables';

nav {
  position: absolute;
  max-width: 100%;
  left: 0;
  margin-left: auto;
}

nav .inner {
  max-width: none;
  border: 0;
}

nav .inner .right a:last-child div, nav .inner .left {
  border: 0;
}

nav .inner .middle {
  position: absolute;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  height: 50px;
}

#note-button {
  position: absolute;
  left: 200px;
  font-size: 1.25em;
}

#star-space {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	top: 0;
}

#star-space:before {
	content: 'Vote:';
	position: absolute;
	left: -30px;
	font-size: 1.5em;
}

#star-space .star {
	left: 50%;
	position: relative;
	top: 6px;
	background-image: url("/assets/star@2x.png");
	width: 25px;
	height: 25px;
	-moz-background-size: 25px;
	-o-background-size: 25px;
	background-size: 25px;
}

#star-space .star-wrapper {
	height: 25px;
	width: 25px;
	float: right;
	margin-left: 5px;
}

#star-space .star-wrapper:hover .star, #star-space .star-wrapper:hover ~ .star-wrapper .star, #star-space .star-wrapper.voted .star, #star-space .star-wrapper.voted ~ .star-wrapper .star {
	background-image: url("/assets/star_fill@2x.png");
}

#star-space .star-wrapper.cancelled .star {
	background-image: url("/assets/star@2x.png") !important;
}

#star-space .star-wrapper:hover .star:after, #star-space .star-wrapper:hover ~ .star-wrapper .star:after, #star-space .star-wrapper.voted .star:after, #star-space .star-wrapper.voted ~ .star-wrapper .star:after {
	content: attr(data-value);
	position: relative;
	left: 45%;
	top: -56%;
	color: $primary;
	font-size: 8px;
}

.star-wrapper:hover .star {
  -webkit-transform: scale(1.35);
     -moz-transform: scale(1.35);
      -ms-transform: scale(1.35);
       -o-transform: scale(1.35);
          transform: scale(1.35);
}

.star-wrapper:active .star {
  -webkit-transform: scale(.9);
     -moz-transform: scale(.9);
      -ms-transform: scale(.9);
       -o-transform: scale(.9);
          transform: scale(.9);
}

section .inner {
  position: absolute;
  min-width: 100%;
  padding: 0;
  border: 0;
  top: 50px;
  bottom: 0;
  left: 0;
}

section {
  max-width: none;
  border: none;
}

footer {
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: top;
  position: absolute;
  top: 0;
}

#source {
  display: none;
}

#source.active {
  display: block;
}